/* RULES THAT ONLY USED FOR DEMO PURPOSES */
.lbplus_wrapper {
  margin-top: 16px;
}

.switch-view {
  width: 940px;
  height: auto;
  margin: 16px auto;
}

.dev-log {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}
