@import url("font-awesome.min.css");
@import url("jquery-ui.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* GENERAL */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  margin: 0; }

body {
  position: relative;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: normal;
  background-color: #f1f1f1; }

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 1.25rem 0; }

h1 {
  font-size: 1.625rem; }

.container {
  padding: 0 1.25rem; }

.select {
  cursor: pointer; }
  .select .select-hidden {
    display: none; }
  .select .select-options {
    display: none;
    position: absolute;
    margin: 0;
    padding-left: 0.3125rem;
    background-color: rgba(255, 255, 255, 0.9); }
    .select .select-options li {
      padding: 0.3125rem 0; }

footer {
  margin: 1.25rem 0;
  font-size: 0.75rem; }
  footer p {
    margin: 0; }

.hide {
  display: none !important; }

#disconnect-confirm {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }
  #disconnect-confirm .dialog {
    width: 25rem;
    height: auto;
    margin: 0 auto;
    color: #444;
    background-color: #f1f1f1;
    padding: 1.25rem;
    border: 0.0625rem solid #444; }
    #disconnect-confirm .dialog p {
      margin: 0 0 0.625rem 0; }
    #disconnect-confirm .dialog p:last-child {
      margin: 0; }
    #disconnect-confirm .dialog .title {
      font-weight: bold;
      color: #f00; }

.gSignIn img {
  width: 13.125rem;
  height: auto; }

/* LANDING PAGE */
.hero_bg {
  width: 100%;
  height: 100%;
  background-image: url("../images/sherlock_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .hero_bg .hero {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(4, 12, 14, 0.5); }
    .hero_bg .hero .hero_content {
      -webkit-flex: 1;
      flex: 1;
      text-align: center; }
      .hero_bg .hero .hero_content .title {
        font-family: "Righteous", Arial, sans-serif;
        font-size: 514%;
        line-height: normal;
        margin-bottom: 3.125rem; }
      .hero_bg .hero .hero_content .cta {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-align-items: flex-start;
        align-items: flex-start; }
        .hero_bg .hero .hero_content .cta a {
          display: block;
          margin: 0 auto;
          font-family: "Open Sans", Arial, sans-serif;
          color: #70a3f7;
          text-decoration: none; }
        .hero_bg .hero .hero_content .cta a:hover {
          text-decoration: underline; }
        .hero_bg .hero .hero_content .cta .btn {
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          font-family: 'Roboto', sans-serif;
          font-size: 0.9375rem;
          text-align: left;
          color: #fff;
          width: 12.75rem;
          height: 2.875rem;
          background-color: #70a3f7;
          margin-bottom: 0.375rem;
          padding: 0 0.8125rem 0;
          -moz-border-radius: 0.1875rem;
          -webkit-border-radius: 0.1875rem;
          border-radius: 0.1875rem;
          -moz-box-shadow: 0 0.0625rem 0.1875rem 0 #444;
          -webkit-box-shadow: 0 0.0625rem 0.1875rem 0 #444;
          box-shadow: 0 0.0625rem 0.1875rem 0 #444; }
          .hero_bg .hero .hero_content .cta .btn .icon {
            margin-right: 1.375rem; }
            .hero_bg .hero .hero_content .cta .btn .icon .fa-lg {
              font-size: 1.5rem; }
        .hero_bg .hero .hero_content .cta .btn:hover {
          text-decoration: none; }

/* SHERLOCK PAGES */
#sherlock-wrapper {
  width: 100%; }
  #sherlock-wrapper .navbar {
    color: #f2f2f2;
    background-image: url("../images/sherlock_bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 73%;
    background-color: rgba(0, 0, 0, 0.5); }
    #sherlock-wrapper .navbar .container {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: center;
      align-items: center;
      height: 3.125rem; }
    #sherlock-wrapper .navbar .site-name {
      -webkit-flex: 2 1 auto;
      flex: 2 1 auto;
      font-family: "Righteous", Arial, sans-serif;
      font-size: 1.75rem;
      line-height: 1.75rem;
      margin-right: 0.625rem; }
    #sherlock-wrapper .navbar .user p {
      margin: 0; }
    #sherlock-wrapper .navbar .user .signinout {
      font-size: 0.75rem; }
  #sherlock-wrapper .exercise-pagination .controls {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    color: #444;
    height: 1.875rem; }
    #sherlock-wrapper .exercise-pagination .controls .pageActions {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex: 2 1 auto;
      flex: 2 1 auto; }
      #sherlock-wrapper .exercise-pagination .controls .pageActions .previous, #sherlock-wrapper .exercise-pagination .controls .pageActions .next {
        width: 2.5rem;
        color: #444;
        text-align: center;
        border: none;
        background-color: transparent;
        cursor: pointer; }
      #sherlock-wrapper .exercise-pagination .controls .pageActions button:hover {
        color: #000; }
      #sherlock-wrapper .exercise-pagination .controls .pageActions button:disabled {
        color: #ccc;
        cursor: default; }
    #sherlock-wrapper .exercise-pagination .controls .actions {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: flex-start;
      justify-content: flex-start; }
      #sherlock-wrapper .exercise-pagination .controls .actions .select .select-styled {
        position: relative;
        width: 9.375rem;
        border-bottom: 0.0625rem solid #ccc;
        margin-right: 1.25rem;
        padding: 0 0.3125rem;
        color: #888; }
      #sherlock-wrapper .exercise-pagination .controls .actions .select .select-styled:after {
        position: absolute;
        top: 0rem;
        right: 0.3125rem;
        font-family: 'FontAwesome';
        font-size: 1.375rem;
        content: '\f078';
        color: #444; }
      #sherlock-wrapper .exercise-pagination .controls .actions .select .active {
        color: #000; }
      #sherlock-wrapper .exercise-pagination .controls .actions .select .select-options {
        width: 9.375rem; }
        #sherlock-wrapper .exercise-pagination .controls .actions .select .select-options li {
          color: #666; }
        #sherlock-wrapper .exercise-pagination .controls .actions .select .select-options li:hover {
          color: #000; }
  #sherlock-wrapper .exercise-grid {
    margin: 1.25rem 0 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    #sherlock-wrapper .exercise-grid .grid-item {
      display: block;
      width: 100%;
      height: 14.375rem;
      margin-bottom: 1.25rem;
      -moz-border-radius: 0.3125rem 0.3125rem 0 0;
      -webkit-border-radius: 0.3125rem;
      border-radius: 0.3125rem 0.3125rem 0 0;
      border: 0.0625rem solid #ccc;
      overflow: hidden;
      color: #000;
      text-decoration: none;
      cursor: pointer; }
      #sherlock-wrapper .exercise-grid .grid-item .thumbnail {
        position: relative;
        width: 100%;
        height: 9.375rem;
        background-color: #ccc;
        border-bottom: 0.0625rem solid #ccc;
        overflow: hidden; }
        #sherlock-wrapper .exercise-grid .grid-item .thumbnail .start-txt {
          position: absolute;
          display: none;
          -webkit-align-items: center;
          align-items: center;
          -webkit-justify-content: center;
          justify-content: center;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-transform: uppercase;
          z-index: 1;
          color: #fff;
          font-size: 2rem;
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
          opacity: 0.9;
          -webkit-filter: drop-shadow(0 0 0.375rem rgba(0, 0, 0, 0.9));
          filter: drop-shadow(0 0 0.375rem rgba(0, 0, 0, 0.9)); }
        #sherlock-wrapper .exercise-grid .grid-item .thumbnail img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          -webkit-filter: grayscale(1);
          filter: grayscale(1);
          animation-name: colorFadeOut;
          animation-duration: 0.75s; }
        #sherlock-wrapper .exercise-grid .grid-item .thumbnail .embedBtn {
          position: absolute;
          top: 0.625rem;
          right: 0.625rem;
          z-index: 10; }
          #sherlock-wrapper .exercise-grid .grid-item .thumbnail .embedBtn button {
            border: none;
            width: 2.5rem;
            height: 2.5rem;
            background-color: #fff;
            cursor: pointer;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
            opacity: 0.5; }
            #sherlock-wrapper .exercise-grid .grid-item .thumbnail .embedBtn button i {
              -moz-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
          #sherlock-wrapper .exercise-grid .grid-item .thumbnail .embedBtn button:hover {
            filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
            opacity: 1;
            -moz-box-shadow: 0 0 0.375rem 0 #000;
            -webkit-box-shadow: 0 0 0.375rem 0 #000;
            box-shadow: 0 0 0.375rem 0 #000; }
        #sherlock-wrapper .exercise-grid .grid-item .thumbnail .exercise-type-label {
          position: absolute;
          top: 0.625rem;
          left: 0.625rem;
          color: #fff;
          font-size: 0.875rem;
          min-width: 5rem;
          text-transform: uppercase;
          text-align: center;
          padding: 0.3125rem 0.375rem;
          background-color: rgba(68, 68, 68, 0.9);
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          -moz-box-shadow: 0 0 0.375rem 0 #000;
          -webkit-box-shadow: 0 0 0.375rem 0 #000;
          box-shadow: 0 0 0.375rem 0 #000;
          z-index: 1; }
        #sherlock-wrapper .exercise-grid .grid-item .thumbnail .practice {
          background-color: rgba(66, 133, 244, 0.9); }
        #sherlock-wrapper .exercise-grid .grid-item .thumbnail .training {
          background-color: rgba(58, 193, 74, 0.9); }
        #sherlock-wrapper .exercise-grid .grid-item .thumbnail .assessment {
          background-color: rgba(234, 67, 53, 0.9); }
      #sherlock-wrapper .exercise-grid .grid-item .info {
        padding: 0.625rem; }
        #sherlock-wrapper .exercise-grid .grid-item .info .title {
          font-weight: bold; }
        #sherlock-wrapper .exercise-grid .grid-item .info .description {
          font-size: 0.875rem; }
    #sherlock-wrapper .exercise-grid .grid-item:hover {
      -moz-box-shadow: 0 0 0.375rem 0 #ccc;
      -webkit-box-shadow: 0 0 0.375rem 0 #ccc;
      box-shadow: 0 0 0.375rem 0 #ccc; }
      #sherlock-wrapper .exercise-grid .grid-item:hover .thumbnail .start-txt {
        display: -webkit-flex;
        display: flex; }
      #sherlock-wrapper .exercise-grid .grid-item:hover .thumbnail img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        animation-name: colorFadeIn;
        animation-duration: 0.25s; }
@keyframes colorFadeIn {
  from {
    -webkit-filter: grayscale(1);
    filter: grayscale(1); }
  to {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); } }
@keyframes colorFadeOut {
  from {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }
  to {
    -webkit-filter: grayscale(1);
    filter: grayscale(1); } }
  #sherlock-wrapper .assessment-samples {
    position: relative; }
    #sherlock-wrapper .assessment-samples .assessment-signin {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 1.25rem 0;
      background-color: rgba(241, 241, 241, 0.75); }
      #sherlock-wrapper .assessment-samples .assessment-signin h2, #sherlock-wrapper .assessment-samples .assessment-signin a, #sherlock-wrapper .assessment-samples .assessment-signin p {
        text-align: center; }
      #sherlock-wrapper .assessment-samples .assessment-signin h2 {
        font-size: 1.5rem;
        font-weight: bold; }
      #sherlock-wrapper .assessment-samples .assessment-signin a {
        display: block;
        width: 13.125rem;
        margin: 0 auto;
        font-family: "Open Sans", Arial, sans-serif;
        color: #70a3f7;
        text-decoration: none; }
      #sherlock-wrapper .assessment-samples .assessment-signin a:hover {
        text-decoration: underline; }
      #sherlock-wrapper .assessment-samples .assessment-signin small {
        font-size: 0.75rem;
        font-style: italic; }

@media only screen and (min-width: 900px) {
  .container {
    width: 56.25rem;
    margin: 0 auto; }

  #sherlock-wrapper .exercise-grid .grid-item {
    width: 26.25rem; } }
