@import url("font-awesome.min.css");
@import url("jquery-ui.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* GENERAL */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  margin: 0; }

body {
  position: relative;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: normal;
  background-color: #f1f1f1; }

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 1.25rem 0; }

h1 {
  font-size: 1.625rem; }

.container {
  padding: 0 1.25rem; }

.select {
  cursor: pointer; }
  .select .select-hidden {
    display: none; }
  .select .select-options {
    display: none;
    position: absolute;
    margin: 0;
    padding-left: 0.3125rem;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 20; }
    .select .select-options li {
      padding: 0.3125rem 0; }

strong {
  font-weight: bold; }

footer {
  margin: 1.25rem 0;
  font-size: 0.75rem; }
  footer p {
    margin: 0;
    text-align: center; }

.gSignIn img {
  width: 13.125rem;
  height: auto; }

.transition_overlay {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(241, 241, 241, 0.95);
  padding: 0 1.25rem;
  z-index: 999; }
  .transition_overlay .heading, .transition_overlay .loading {
    font-size: 400%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    line-height: normal; }
  .transition_overlay .subheading {
    text-align: center;
    font-size: 120%;
    font-weight: 200;
    line-height: normal; }
  .transition_overlay textarea {
    max-width: 100%;
    width: 23.75rem;
    height: 3.125rem;
    resize: none; }
  .transition_overlay .closeBtn {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    color: #fff;
    background-color: #ea4335;
    text-align: center;
    padding-top: 0.5rem;
    width: 3.125rem;
    height: 3.125rem;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer; }
  .transition_overlay .loading {
    margin-top: 1.25rem; }
  .transition_overlay .actions {
    margin-top: 1.25rem; }
    .transition_overlay .actions button {
      width: 11.875rem;
      height: 2.5rem;
      background-color: #0f74ed;
      -moz-box-shadow: 0 0.125rem 0.0625rem 0 #888;
      -webkit-box-shadow: 0 0.125rem 0.0625rem 0 #888;
      box-shadow: 0 0.125rem 0.0625rem 0 #888;
      border: none;
      color: #fff;
      font-size: 0.875rem;
      font-weight: normal;
      cursor: pointer; }
    .transition_overlay .actions #revoke_ok {
      background-color: #ea4335;
      margin-right: 1.25rem; }
    .transition_overlay .actions #revoke_cancel {
      background-color: #444; }

.hide {
  display: none !important; }

/* LANDING PAGE */
.hero_bg {
  width: 100%;
  height: 100%;
  background-image: url("../images/sherlock_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .hero_bg .hero {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(4, 12, 14, 0.5); }
    .hero_bg .hero .hero_content {
      -webkit-flex: 1;
      flex: 1;
      text-align: center; }
      .hero_bg .hero .hero_content .title {
        font-family: "Righteous", Arial, sans-serif;
        font-size: 514%;
        line-height: normal;
        margin-bottom: 3.125rem; }
      .hero_bg .hero .hero_content .cta {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-align-items: flex-start;
        align-items: flex-start; }
        .hero_bg .hero .hero_content .cta a {
          display: block;
          margin: 0 auto;
          font-family: "Open Sans", Arial, sans-serif;
          color: #70a3f7;
          text-decoration: none; }
        .hero_bg .hero .hero_content .cta a:hover {
          text-decoration: underline; }
        .hero_bg .hero .hero_content .cta .btn {
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          font-family: 'Roboto', sans-serif;
          font-size: 0.9375rem;
          text-align: left;
          color: #fff;
          width: 12.75rem;
          height: 2.875rem;
          background-color: #70a3f7;
          margin-bottom: 0.375rem;
          padding: 0 0.8125rem 0;
          -moz-border-radius: 0.1875rem;
          -webkit-border-radius: 0.1875rem;
          border-radius: 0.1875rem;
          -moz-box-shadow: 0 0.0625rem 0.1875rem 0 #444;
          -webkit-box-shadow: 0 0.0625rem 0.1875rem 0 #444;
          box-shadow: 0 0.0625rem 0.1875rem 0 #444; }
          .hero_bg .hero .hero_content .cta .btn .icon {
            margin-right: 1.375rem; }
            .hero_bg .hero .hero_content .cta .btn .icon .fa-lg {
              font-size: 1.5rem; }
        .hero_bg .hero .hero_content .cta .btn:hover {
          text-decoration: none; }

/* SHERLOCK PAGES */
#sherlock-wrapper {
  width: 100%;
  position: relative; }
  #sherlock-wrapper .error_msg h2 {
    font-size: 400%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 2.5rem 0 0; }
  #sherlock-wrapper .error_msg p {
    text-align: center;
    font-size: 120%;
    margin: 0 0 2.5rem; }
  #sherlock-wrapper .navbar {
    color: #f2f2f2;
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/sherlock_bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 73%; }
    #sherlock-wrapper .navbar .container {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: center;
      align-items: center;
      height: 3.125rem; }
    #sherlock-wrapper .navbar .site-name {
      -webkit-flex: 2 1 auto;
      flex: 2 1 auto;
      font-family: "Righteous", Arial, sans-serif;
      font-size: 1.75rem;
      line-height: 1.75rem;
      margin-right: 0.625rem; }
    #sherlock-wrapper .navbar .center {
      text-align: center; }
    #sherlock-wrapper .navbar .user p {
      margin: 0; }
    #sherlock-wrapper .navbar .user .signinout {
      font-size: 0.75rem; }
    #sherlock-wrapper .navbar .exercise-type-mode {
      color: #fff;
      font-size: 0.875rem;
      min-width: 5rem;
      text-transform: uppercase;
      text-align: center;
      padding: 0.3125rem 0.375rem;
      background-color: #444;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -moz-box-shadow: 0 0 0.375rem 0 #333;
      -webkit-box-shadow: 0 0 0.375rem 0 #333;
      box-shadow: 0 0 0.375rem 0 #333; }
    #sherlock-wrapper .navbar .practice {
      background-color: #4285f4; }
    #sherlock-wrapper .navbar .training {
      background-color: #3ac14a; }
    #sherlock-wrapper .navbar .assessment {
      background-color: #ea4335; }
    #sherlock-wrapper .navbar .score {
      background-color: #fbbc05; }
    #sherlock-wrapper .navbar .review {
      background-color: #4285f4; }
  #sherlock-wrapper .darken {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/sherlock_bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 73%; }
  #sherlock-wrapper .exercise-pagination .controls {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    color: #444;
    height: 1.875rem; }
    #sherlock-wrapper .exercise-pagination .controls .pageActions {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex: 2 1 auto;
      flex: 2 1 auto; }
      #sherlock-wrapper .exercise-pagination .controls .pageActions .previous, #sherlock-wrapper .exercise-pagination .controls .pageActions .next {
        width: 2.5rem;
        color: #444;
        text-align: center;
        border: none;
        background-color: transparent;
        cursor: pointer; }
      #sherlock-wrapper .exercise-pagination .controls .pageActions button:hover {
        color: #000; }
      #sherlock-wrapper .exercise-pagination .controls .pageActions button:disabled {
        color: #ccc;
        cursor: default; }
    #sherlock-wrapper .exercise-pagination .controls .actions {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: flex-start;
      justify-content: flex-start; }
      #sherlock-wrapper .exercise-pagination .controls .actions .select .select-styled {
        position: relative;
        width: 9.375rem;
        border-bottom: 0.0625rem solid #ccc;
        margin-right: 1.25rem;
        padding: 0 0.3125rem;
        color: #888; }
      #sherlock-wrapper .exercise-pagination .controls .actions .select .select-styled:after {
        position: absolute;
        top: 0rem;
        right: 0.3125rem;
        font-family: 'FontAwesome';
        font-size: 1.375rem;
        content: '\f078';
        color: #444; }
      #sherlock-wrapper .exercise-pagination .controls .actions .select .active {
        color: #000; }
      #sherlock-wrapper .exercise-pagination .controls .actions .select .select-options {
        width: 9.375rem; }
        #sherlock-wrapper .exercise-pagination .controls .actions .select .select-options li {
          color: #666; }
        #sherlock-wrapper .exercise-pagination .controls .actions .select .select-options li:hover {
          color: #000; }
  #sherlock-wrapper .exercise-grid {
    margin: 1.25rem 0 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    #sherlock-wrapper .exercise-grid .grid-item {
      display: block;
      width: 100%;
      height: 14.375rem;
      margin-bottom: 1.25rem;
      -moz-border-radius: 0.3125rem 0.3125rem 0 0;
      -webkit-border-radius: 0.3125rem;
      border-radius: 0.3125rem 0.3125rem 0 0;
      border: 0.0625rem solid #ccc;
      overflow: hidden;
      color: #000;
      text-decoration: none;
      cursor: pointer; }
      #sherlock-wrapper .exercise-grid .grid-item .thumbnail {
        position: relative;
        width: 100%;
        height: 9.375rem;
        background-color: #ccc;
        border-bottom: 0.0625rem solid #ccc;
        overflow: hidden; }
        #sherlock-wrapper .exercise-grid .grid-item .thumbnail .start-txt {
          position: absolute;
          display: none;
          -webkit-align-items: center;
          align-items: center;
          -webkit-justify-content: center;
          justify-content: center;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-transform: uppercase;
          z-index: 1;
          color: #fff;
          font-size: 2rem;
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
          opacity: 0.9;
          -webkit-filter: drop-shadow(0 0 0.375rem rgba(0, 0, 0, 0.9));
          filter: drop-shadow(0 0 0.375rem rgba(0, 0, 0, 0.9)); }
        #sherlock-wrapper .exercise-grid .grid-item .thumbnail img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          -webkit-filter: grayscale(1);
          filter: grayscale(1);
          animation-name: colorFadeOut;
          animation-duration: 0.75s; }
        #sherlock-wrapper .exercise-grid .grid-item .thumbnail .embedBtn {
          position: absolute;
          top: 0.625rem;
          right: 0.625rem;
          z-index: 10;
          border: none;
          width: 2.5rem;
          height: 2.5rem;
          background-color: #fff;
          cursor: pointer;
          text-align: center;
          padding-top: 0.4375rem;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
          opacity: 0.5; }
          #sherlock-wrapper .exercise-grid .grid-item .thumbnail .embedBtn i {
            font-size: 1.75rem;
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
        #sherlock-wrapper .exercise-grid .grid-item .thumbnail .embedBtn:hover {
          filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
          opacity: 1;
          -moz-box-shadow: 0 0 0.375rem 0 #000;
          -webkit-box-shadow: 0 0 0.375rem 0 #000;
          box-shadow: 0 0 0.375rem 0 #000; }
        #sherlock-wrapper .exercise-grid .grid-item .thumbnail .exercise-type-label {
          position: absolute;
          top: 0.625rem;
          left: 0.625rem;
          color: #fff;
          font-size: 0.875rem;
          min-width: 5rem;
          text-transform: uppercase;
          text-align: center;
          padding: 0.3125rem 0.375rem;
          background-color: rgba(68, 68, 68, 0.9);
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          -moz-box-shadow: 0 0 0.375rem 0 #000;
          -webkit-box-shadow: 0 0 0.375rem 0 #000;
          box-shadow: 0 0 0.375rem 0 #000;
          z-index: 1; }
        #sherlock-wrapper .exercise-grid .grid-item .thumbnail .practice {
          background-color: rgba(66, 133, 244, 0.9); }
        #sherlock-wrapper .exercise-grid .grid-item .thumbnail .training {
          background-color: rgba(58, 193, 74, 0.9); }
        #sherlock-wrapper .exercise-grid .grid-item .thumbnail .assessment {
          background-color: rgba(234, 67, 53, 0.9); }
      #sherlock-wrapper .exercise-grid .grid-item .info {
        padding: 0.625rem; }
        #sherlock-wrapper .exercise-grid .grid-item .info .title {
          font-weight: bold; }
        #sherlock-wrapper .exercise-grid .grid-item .info .description {
          font-size: 0.875rem; }
    #sherlock-wrapper .exercise-grid .grid-item:hover {
      -moz-box-shadow: 0 0 0.375rem 0 #ccc;
      -webkit-box-shadow: 0 0 0.375rem 0 #ccc;
      box-shadow: 0 0 0.375rem 0 #ccc; }
      #sherlock-wrapper .exercise-grid .grid-item:hover .thumbnail .start-txt {
        display: -webkit-flex;
        display: flex; }
      #sherlock-wrapper .exercise-grid .grid-item:hover .thumbnail img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        animation-name: colorFadeIn;
        animation-duration: 0.25s; }
@keyframes colorFadeIn {
  from {
    -webkit-filter: grayscale(1);
    filter: grayscale(1); }
  to {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); } }
@keyframes colorFadeOut {
  from {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }
  to {
    -webkit-filter: grayscale(1);
    filter: grayscale(1); } }
  #sherlock-wrapper .assessment-samples {
    position: relative; }
    #sherlock-wrapper .assessment-samples .assessment-signin {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 1.25rem 0;
      background-color: rgba(241, 241, 241, 0.75); }
      #sherlock-wrapper .assessment-samples .assessment-signin h2, #sherlock-wrapper .assessment-samples .assessment-signin a, #sherlock-wrapper .assessment-samples .assessment-signin p {
        text-align: center; }
      #sherlock-wrapper .assessment-samples .assessment-signin h2 {
        font-size: 1.5rem;
        font-weight: bold; }
      #sherlock-wrapper .assessment-samples .assessment-signin a {
        display: block;
        width: 13.125rem;
        margin: 0 auto;
        font-family: "Open Sans", Arial, sans-serif;
        color: #70a3f7;
        text-decoration: none; }
      #sherlock-wrapper .assessment-samples .assessment-signin a:hover {
        text-decoration: underline; }
      #sherlock-wrapper .assessment-samples .assessment-signin small {
        font-size: 0.75rem;
        font-style: italic; }
  #sherlock-wrapper .sherlock_view {
    width: 53.75rem;
    margin: 1.25rem 0; }
    #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: flex-start;
      justify-content: flex-start; }
      #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper * {
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none; }
      #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_media {
        position: relative;
        width: 40rem;
        height: 22.5rem;
        background: #000; }
        #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_media .sherlock_status_msg {
          position: absolute;
          width: 100%;
          height: auto;
          z-index: 10;
          padding: 0.3125rem;
          background-color: rgba(255, 255, 255, 0.75); }
        #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_media .overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 10; }
          #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_media .overlay #videoPlayBtn {
            position: absolute;
            width: 9.375rem;
            height: 5rem;
            color: #fff;
            text-align: center;
            font-size: 200%;
            font-weight: bold;
            line-height: normal;
            background: #2e832e;
            padding: 1.125rem 1.25rem 0;
            top: 8.75rem;
            left: 15.3125rem;
            cursor: pointer;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -moz-border-radius: 0.1875rem;
            -webkit-border-radius: 0.1875rem;
            border-radius: 0.1875rem;
            -moz-box-shadow: 0 0 0.375rem #333;
            -webkit-box-shadow: 0 0 0.375rem #333;
            box-shadow: 0 0 0.375rem #333; }
          #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_media .overlay #videoPlayBtn.paused {
            padding-top: 0.875rem;
            line-height: .4;
            background: #c7284d;
            cursor: default; }
            #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_media .overlay #videoPlayBtn.paused small {
              font-size: 60%; }
          #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_media .overlay .reasoningBox {
            position: absolute;
            width: 100%;
            height: 22.5rem;
            line-height: 22.5rem;
            z-index: 11;
            background: rgba(255, 255, 255, 0.9); }
            #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_media .overlay .reasoningBox .reasoning {
              display: inline-block;
              padding: 0 0.875rem;
              vertical-align: middle;
              line-height: 1.25rem; }
            #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_media .overlay .reasoningBox .action {
              display: block;
              position: absolute;
              width: 100%;
              bottom: 0.875rem;
              left: 0;
              text-align: center;
              line-height: normal; }
              #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_media .overlay .reasoningBox .action strong {
                font-weight: bold; }
        #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_media iframe {
          width: 100%;
          height: 100%; }
      #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
        width: 13.125rem;
        margin: 0 0 0 0.625rem;
        background-color: #fff;
        padding: 0 0.625rem;
        -moz-box-shadow: 0 0 0.375rem 0 #ccc;
        -webkit-box-shadow: 0 0 0.375rem 0 #ccc;
        box-shadow: 0 0 0.375rem 0 #ccc; }
        #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions h4 {
          width: 100%;
          text-align: center;
          color: #767676;
          border-bottom: 1px solid #e2e2e2;
          padding: 0.625rem;
          margin: 0; }
        #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .exr_actions {
          -webkit-flex: 2 0 auto;
          flex: 2 0 auto; }
        #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .btn {
          display: -webkit-flex;
          display: flex;
          -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
          -webkit-align-self: flex-start;
          align-self: flex-start;
          position: relative;
          width: 11.5625rem;
          height: 2.5rem;
          color: #fff;
          font-weight: bold;
          cursor: pointer;
          margin: 0.625rem 0 0; }
          #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .btn .limits {
            position: absolute;
            font-size: 0.75rem;
            font-weight: normal;
            line-height: normal;
            padding: 0.125rem 0.3125rem 0.125rem;
            top: -0.3125rem;
            right: -0.3125rem;
            background-color: #ea4335;
            -moz-border-radius: 0.1875rem;
            -webkit-border-radius: 0.1875rem;
            border-radius: 0.1875rem;
            z-index: 10; }
          #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .btn .limits.hide {
            display: none; }
          #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .btn .icon {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
            align-items: center;
            width: 2.1875rem;
            height: 2.1875rem;
            font-size: 1.125rem;
            font-weight: bold;
            background: #0f74ed;
            filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
            opacity: 1;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -moz-transition: opacity 0.5s, background 0.5s;
            -o-transition: opacity 0.5s, background 0.5s;
            -webkit-transition: opacity 0.5s, background 0.5s;
            transition: opacity 0.5s, background 0.5s; }
            #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .btn .icon [class^="icon-"], #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .btn .icon [class*=" icon-"] {
              display: block;
              margin-top: 0.125rem; }
          #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .btn .action_name {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -webkit-align-items: center;
            align-items: center;
            width: 9.375rem;
            height: 2.1875rem;
            font-weight: normal;
            font-size: 0.875rem;
            padding: 0 0 0 0.3125rem;
            background: #4285f4;
            filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
            opacity: 1;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -moz-transition: opacity 0.5s, background 0.5s;
            -o-transition: opacity 0.5s, background 0.5s;
            -webkit-transition: opacity 0.5s, background 0.5s;
            transition: opacity 0.5s, background 0.5s; }
          #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .btn .action_name.long {
            font-size: 0.75rem;
            line-height: 0.875rem; }
          #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .btn .cooldown {
            display: block;
            width: 11.5625rem;
            height: 0.3125rem;
            background: #ccc;
            clear: both; }
            #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .btn .cooldown .progress {
              display: block;
              height: 0.3125rem;
              background: #106bc6; }
        #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .btn:active .icon {
          background: #1f3dc1; }
        #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .btn:active .action_name {
          background: #18309c; }
        #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .btn.disabled {
          color: #fafafa;
          cursor: default; }
          #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .btn.disabled .limits {
            background: #404040; }
          #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .btn.disabled .icon {
            background: #424242;
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
            opacity: 0.75;
            -moz-transition: opacity 0.5s, background 0.5s;
            -o-transition: opacity 0.5s, background 0.5s;
            -webkit-transition: opacity 0.5s, background 0.5s;
            transition: opacity 0.5s, background 0.5s; }
          #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .btn.disabled .action_name {
            background: #515151;
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
            opacity: 0.75;
            -moz-transition: opacity 0.5s, background 0.5s;
            -o-transition: opacity 0.5s, background 0.5s;
            -webkit-transition: opacity 0.5s, background 0.5s;
            transition: opacity 0.5s, background 0.5s; }
          #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .btn.disabled .cooldown .progress {
            background: #404040; }
        #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .review_content {
          -webkit-flex: 2 0 auto;
          flex: 2 0 auto;
          max-height: 14.9375rem;
          overflow-y: scroll; }
          #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .review_content p {
            margin: 0.875rem 0;
            font-size: 0.875rem;
            line-height: 1.125rem;
            -moz-user-select: text;
            -ms-user-select: text;
            -webkit-user-select: text;
            user-select: text; }
        #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .play_segment {
          width: 100%; }
          #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .play_segment .action_name {
            width: 100%;
            height: 2.5rem;
            -webkit-justify-content: center;
            justify-content: center; }
        #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .fixed_bottom_action {
          border-top: 1px solid #e2e2e2;
          margin: 0.625rem 0; }
          #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .fixed_bottom_action .backToScore {
            width: 100%; }
            #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .fixed_bottom_action .backToScore .action_name {
              -webkit-flex: 2 0 auto;
              flex: 2 0 auto;
              height: 2.5rem;
              -webkit-justify-content: center;
              justify-content: center; }
            #sherlock-wrapper .sherlock_view .sherlock_interaction_wrapper .sherlock_actions .fixed_bottom_action .backToScore .icon {
              height: 2.5rem; }
  #sherlock-wrapper .sherlock_score_view .grade_box {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 3.125rem;
    background-color: #fff;
    margin-top: 1.25rem;
    padding: 0 0.625rem;
    font-size: 2.5rem;
    line-height: 0;
    -moz-box-shadow: 0 0 0.375rem 0 #ccc;
    -webkit-box-shadow: 0 0 0.375rem 0 #ccc;
    box-shadow: 0 0 0.375rem 0 #ccc; }
    #sherlock-wrapper .sherlock_score_view .grade_box .percentage {
      font-weight: bold; }
    #sherlock-wrapper .sherlock_score_view .grade_box .feedback {
      -webkit-flex: 2 1 auto;
      flex: 2 1 auto;
      font-style: italic;
      text-align: center;
      font-size: 1.5rem; }
    #sherlock-wrapper .sherlock_score_view .grade_box .fraction {
      font-weight: bold; }
  #sherlock-wrapper .sherlock_score_view .analysis_box {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin: 0.625rem 0; }
    #sherlock-wrapper .sherlock_score_view .analysis_box .box {
      -webkit-flex: 1 0 auto;
      flex: 1 0 auto;
      min-width: 10.25rem;
      margin-right: 0.625rem;
      background-color: #fff;
      -moz-box-shadow: 0 0 0.375rem 0 #ccc;
      -webkit-box-shadow: 0 0 0.375rem 0 #ccc;
      box-shadow: 0 0 0.375rem 0 #ccc; }
      #sherlock-wrapper .sherlock_score_view .analysis_box .box .top {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-align-items: center;
        align-items: center;
        -webkit-align-content: center;
        align-content: center;
        margin: 0.625rem 0; }
        #sherlock-wrapper .sherlock_score_view .analysis_box .box .top .progress-bar {
          position: relative;
          display: inline-block;
          width: 9.375rem;
          height: 9.375rem;
          padding: 0; }
          #sherlock-wrapper .sherlock_score_view .analysis_box .box .top .progress-bar canvas {
            width: 9.375rem;
            height: 9.375rem; }
          #sherlock-wrapper .sherlock_score_view .analysis_box .box .top .progress-bar .progress-active {
            position: relative;
            top: -9.6875rem; }
          #sherlock-wrapper .sherlock_score_view .analysis_box .box .top .progress-bar p {
            position: absolute;
            margin: 0;
            padding: 0;
            top: 3.4375rem;
            width: 9.375rem;
            font-size: 2.5rem;
            font-weight: bold;
            text-align: center;
            line-height: 2.5rem; }
        #sherlock-wrapper .sherlock_score_view .analysis_box .box .top .name {
          margin-top: 0.625rem;
          text-align: center;
          font-weight: bold; }
      #sherlock-wrapper .sherlock_score_view .analysis_box .box .bottom {
        background-color: #7f7f7f;
        font-size: 0.875rem;
        color: #fff;
        padding: 0.625rem; }
        #sherlock-wrapper .sherlock_score_view .analysis_box .box .bottom .heading, #sherlock-wrapper .sherlock_score_view .analysis_box .box .bottom .transition_overlay .loading, .transition_overlay #sherlock-wrapper .sherlock_score_view .analysis_box .box .bottom .loading {
          font-weight: 100;
          font-size: 0.75rem; }
        #sherlock-wrapper .sherlock_score_view .analysis_box .box .bottom p {
          margin: 0; }
    #sherlock-wrapper .sherlock_score_view .analysis_box .box:last-child {
      margin-right: 0; }
  #sherlock-wrapper .sherlock_score_view .bonus {
    background-color: #fff;
    height: 2.625rem;
    margin: 0.625rem 0;
    padding: 0.625rem;
    -moz-box-shadow: 0 0 0.375rem 0 #ccc;
    -webkit-box-shadow: 0 0 0.375rem 0 #ccc;
    box-shadow: 0 0 0.375rem 0 #ccc; }
  #sherlock-wrapper .sherlock_controls {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 53.75rem;
    height: 3.75rem;
    background: #fff;
    padding: 0 0.625rem;
    -moz-box-shadow: 0 0 0.375rem 0 #ccc;
    -webkit-box-shadow: 0 0 0.375rem 0 #ccc;
    box-shadow: 0 0 0.375rem 0 #ccc; }
    #sherlock-wrapper .sherlock_controls * {
      -moz-user-select: -moz-none;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none; }
    #sherlock-wrapper .sherlock_controls .elapsed {
      margin-right: 0.75rem; }
    #sherlock-wrapper .sherlock_controls .duration {
      margin-left: 0.75rem; }
    #sherlock-wrapper .sherlock_controls .progress_bar_holder {
      position: relative; }
      #sherlock-wrapper .sherlock_controls .progress_bar_holder .tag {
        position: absolute;
        width: 1.5625rem;
        height: 1.5625rem;
        top: -1.5625rem;
        left: 0;
        font-size: 0.875rem;
        text-align: center;
        line-height: 0.875rem;
        color: #fff;
        background-color: #2e832e;
        padding: 0.375rem 0 0;
        cursor: default;
        -moz-box-shadow: 0 0 0.25rem #2f2f2f;
        -webkit-box-shadow: 0 0 0.25rem #2f2f2f;
        box-shadow: 0 0 0.25rem #2f2f2f;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
      #sherlock-wrapper .sherlock_controls .progress_bar_holder .tag:hover {
        -moz-box-shadow: 0 0 0.375rem #000;
        -webkit-box-shadow: 0 0 0.375rem #000;
        box-shadow: 0 0 0.375rem #000; }
      #sherlock-wrapper .sherlock_controls .progress_bar_holder .tag:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        content: "";
        bottom: -0.375rem;
        left: 0.3125rem;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 12px solid #2e832e; }
      #sherlock-wrapper .sherlock_controls .progress_bar_holder .hint_tag {
        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        bottom: 0.1875rem;
        top: 0.75rem;
        left: 0;
        font-size: 0.625rem;
        text-align: center;
        line-height: 0.625rem;
        color: #fff;
        background-color: #0f74ed;
        padding: 0.3125rem 0 0;
        cursor: default;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=55);
        opacity: 0.55;
        -moz-box-shadow: 0 0 0.25rem #ccc;
        -webkit-box-shadow: 0 0 0.25rem #ccc;
        box-shadow: 0 0 0.25rem #ccc;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
      #sherlock-wrapper .sherlock_controls .progress_bar_holder .hint_tag:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        -moz-box-shadow: 0 0 0.25rem #444;
        -webkit-box-shadow: 0 0 0.25rem #444;
        box-shadow: 0 0 0.25rem #444; }
      #sherlock-wrapper .sherlock_controls .progress_bar_holder .hint_tag:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        content: "";
        top: -0.375rem;
        left: 0.375rem;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 8px solid #0f74ed; }
      #sherlock-wrapper .sherlock_controls .progress_bar_holder .active {
        -moz-box-shadow: 0 0 0.25rem #000;
        -webkit-box-shadow: 0 0 0.25rem #000;
        box-shadow: 0 0 0.25rem #000; }
      #sherlock-wrapper .sherlock_controls .progress_bar_holder .progress_bar {
        position: relative;
        width: 45.9375rem;
        height: 0.625rem;
        background: #444444;
        -moz-box-shadow: 0 0.0625rem 0.0625rem #888;
        -webkit-box-shadow: 0 0.0625rem 0.0625rem #888;
        box-shadow: 0 0.0625rem 0.0625rem #888; }
        #sherlock-wrapper .sherlock_controls .progress_bar_holder .progress_bar .tag_hints_holder {
          display: block;
          position: absolute;
          width: 100%;
          height: 0.625rem; }
          #sherlock-wrapper .sherlock_controls .progress_bar_holder .progress_bar .tag_hints_holder .hint {
            position: absolute;
            width: 0.1875rem;
            height: 0.625rem;
            top: 0;
            background-color: rgba(58, 193, 74, 0.75); }
        #sherlock-wrapper .sherlock_controls .progress_bar_holder .progress_bar .scrubber {
          position: absolute;
          width: 0.1875rem;
          height: 1.25rem;
          top: -0.3125rem;
          left: -0.0625rem;
          background-color: #4285f4;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          -moz-box-shadow: -0.0625rem 0 0.0625rem #888;
          -webkit-box-shadow: -0.0625rem 0 0.0625rem #888;
          box-shadow: -0.0625rem 0 0.0625rem #888;
          z-index: 0; }
        #sherlock-wrapper .sherlock_controls .progress_bar_holder .progress_bar .progressed {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 0;
          height: 0.625rem;
          background: #4285f4;
          z-index: 0; }
  #sherlock-wrapper .sherlock_controls.review .playPauseBtn {
    width: 11.875rem;
    height: 2.5rem;
    background-color: #0f74ed;
    -moz-box-shadow: 0 0.125rem 0.0625rem 0 #888;
    -webkit-box-shadow: 0 0.125rem 0.0625rem 0 #888;
    box-shadow: 0 0.125rem 0.0625rem 0 #888;
    border: none;
    color: #fff;
    font-size: 0.875rem;
    font-weight: normal;
    cursor: pointer;
    width: 2.5rem;
    margin-right: 0.625rem;
    -moz-border-radius: 0.1875rem;
    -webkit-border-radius: 0.1875rem;
    border-radius: 0.1875rem; }
  #sherlock-wrapper .sherlock_controls.review .progress_bar_holder .neg {
    background-color: #ea4335; }
  #sherlock-wrapper .sherlock_controls.review .progress_bar_holder .neg:after {
    border-top: 12px solid #ea4335; }
  #sherlock-wrapper .sherlock_controls.review .progress_bar_holder .progress_bar {
    cursor: pointer; }
  #sherlock-wrapper .score_controls {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end; }
    #sherlock-wrapper .score_controls a {
      width: 11.875rem;
      height: 2.5rem;
      background-color: #0f74ed;
      -moz-box-shadow: 0 0.125rem 0.0625rem 0 #888;
      -webkit-box-shadow: 0 0.125rem 0.0625rem 0 #888;
      box-shadow: 0 0.125rem 0.0625rem 0 #888;
      border: none;
      color: #fff;
      font-size: 0.875rem;
      font-weight: normal;
      cursor: pointer;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      position: relative;
      text-decoration: none;
      margin-right: 0.625rem; }
    #sherlock-wrapper .score_controls a:last-child {
      margin-right: 0; }
    #sherlock-wrapper .score_controls .review .icon, #sherlock-wrapper .score_controls .close .icon {
      position: absolute;
      left: 0.625rem; }
    #sherlock-wrapper .score_controls .exercises .icon {
      position: absolute;
      right: 0.625rem; }

@media only screen and (min-width: 900px) {
  .container {
    width: 56.25rem;
    margin: 0 auto; }

  #sherlock-wrapper .exercise-grid .grid-item {
    width: 26.25rem; } }
/* ANIMATIONS */
.blink {
  -moz-animation-name: blink;
  -webkit-animation-name: blink;
  animation-name: blink;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.blink-faster {
  z-index: 99;
  -moz-animation-name: blink-faster;
  -webkit-animation-name: blink-faster;
  animation-name: blink-faster;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink-faster {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink-faster {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@keyframes blink-faster {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
