$defaultFont: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$fontSize: 16px;
$defaultFontColor: #2f2f2f;
$darkerFontColor: #1e1e1e;
$gutter: 16px;

// imports
/* RESET */
@import "compass/reset";
@import "compass/css3/animation";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "compass/css3/transition";
@import "compass/css3/user-interface";
@import "compass/css3/transform";
@import "compass/utilities/general/clearfix";

// button mixins
@mixin smooth_fade() {

    @include transition(opacity .5s, background .5s);

}

@mixin button() {

    position: relative;
    width: rem( 225px );
    height: rem( 50px );
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: rem( $gutter ) 0;

}

@mixin button_limits() {

    position: absolute;
    font-size: rem( 12px );
    font-weight: normal;
    line-height: normal;
    padding: rem( 3px ) rem( 5px ) rem( 2px );
    top: rem( -5px );
    right: rem( -5px );
    background-color: #ef3737;
    @include border-radius( rem( 3px ) );
    z-index: 10;


}

@mixin button_icon() {

    display: block;
    width: rem( 50px );
    height: rem( 50px );
    font-size: 115%;
    text-align: center;
    background: #425fdd;
    padding-top: rem( 15px );
    float: left;

    @include opacity( 1 );
    @include box-sizing( "border-box" );
    @include smooth_fade();

    [class^="icon-"], [class*=" icon-"] {

        display: block;
        margin-top: rem( 2px );

    }

}

@mixin button_name() {

    display: block;
    width: rem( 175px );
    height: rem( 50px );
    padding: rem( $gutter ) rem( $gutter - 5 );
    background: #354cb1;
    float: left;

    @include opacity( 1 );
    @include box-sizing( "border-box" );
    @include smooth_fade();

}

@mixin button_cooldown() {

    display: block;
    width: rem( 225px );
    height: rem( 5px );
    background: #ccc;
    clear: both;

    .progress {

        display: block;
        height: rem( 5px );
        background: #132988;

    }

}

@mixin button_active() {

    .icon {

        background: #1f3dc1;

    }

    .action_name {

        background: #18309c;

    }

}

@mixin button_disabled() {

    color: #fafafa;
    cursor: default;

    .limits {

        background: #2e2b2b;

    }

    .icon {

        background: #515151;
        @include opacity( .75 );
        @include smooth_fade();

    }

    .action_name {

        background: #424242;
        @include opacity( .75 );
        @include smooth_fade();

    }

    .cooldown {

        .progress {

            background: #2c2c2c;

        }

    }

}

// functions
@function rem( $px, $base: $fontSize ) {

    @return ( $px / $base ) * 1rem;

}

/******** GENERAL ********/

html {

    font-size: $fontSize;

}

body {

    @extend html;
    font-family: $defaultFont;
    font-weight: 300;
    color: $defaultFontColor;
    line-height: rem( $gutter * 1.25 );

}

#{headings(all)} {

    margin: rem( $gutter ) 0;
    font-weight: 100;
    color: $darkerFontColor;

}

h6 {

    font-size: 120%;
    line-height: rem( $gutter * 1.45 );
    font-weight: 400;

}

h5 {

    font-size: 140%;
    line-height: rem( $gutter * 1.65 );
    font-weight: 400;

}

h4 {

    font-size: 160%;
    line-height: rem( $gutter * 1.85 );
    font-weight: 400;

}

h3 {

    font-size: 180%;
    line-height: rem( $gutter * 2.05 );
    font-weight: 400;

}

h2 {

    font-size: 200%;
    line-height: rem( $gutter * 2.25 );

}

h1 {

    font-size: 220%;
    line-height: rem( $gutter * 2.45 );

}

p {

    margin: rem( $gutter ) 0;

}

small {
    
    font-size: 80%;
    line-height: rem( $gutter * 1.1 );
    
}

ul {

    margin: rem( $gutter ) 0;
    list-style-type: disc;
    list-style-position: outside;
    padding-left: rem( $gutter );

    li {

        margin-left: rem( $gutter );

    }

}

ol {

    @extend ul;
    list-style-type: decimal;

}

blockquote {

    position: relative;
    margin: rem( $gutter ) 0 rem( $gutter ) rem( $gutter * 2.25 );
    @extend h5;

}

blockquote:before {
    position: absolute;
    content: "\201C";
    font-family: Arial, "Lucida Grande", sans-serif;
    font-size: 250%;
    color: $defaultFontColor;
    top: rem( 5px );
    left: rem( -20px );
}

strong {

    font-weight: bold;

}

em {

    font-style: italic;

}

hr {

    margin: rem( $gutter ) 0;
    border-top: rem( 1px ) solid $defaultFontColor;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;

}

pre {

    font-family: monospace;
    margin: rem( $gutter ) 0;

}

code {

    @extend pre;
    margin: 0;

}

form {
    
    $select-color: #2f2f2f;
    $select-background: #f2f2f2;
    $select-height: rem( 37px );
    
    label {
        
        display: block;
        margin: rem( $gutter / 2 ) 0 0;
        
    }
    
    input {
        
        font-size: 16px;
        border: rem( 1px ) solid #cdcdcd;
        padding: rem( 8px );
        @include box-sizing( border-box );
        
    }
    
    input[type="text"], input[type="number"], input[type="file"] {
        
        font-weight: bold;
        display: block;
        width: 100%;
        margin: rem( $gutter / 2 ) 0 0;
        
    }
    
    input[type="file"] {
        
        padding: rem( 8px ) 0;
        border: none;
        
    }
    
    textarea {
        
        @extend input[type="text"];
        width: 100%;
        height: rem( 109px );
        border: rem( 1px ) solid #cdcdcd;
        padding: rem( 8px );
        font-size: 16px;
        font-weight: bold;
        @include box-sizing( border-box );
        resize: none;
        
    } 
    
    .half {
        
        width: 49.5%;
        float: left;
        
    }
    
    .half:nth-child(odd) {
        
        margin-right: 1%;
        
    }
    
    .quarter {
        
        width: 33%;
        margin-right: .44%;
        float: left;
        
    }
    
    .quarter:nth-child(3n+3) {
        
        margin-right: 0;
        
    }
    
    .select-hidden {
        
        display: none;
        visibility: hidden;
        padding-right: rem( 10px );
        
    }
    
    .select {
    
        cursor: pointer;
        display: block;
        position: relative;
        margin: rem( $gutter ) 0 0;
        font-size: 16px;
        color: $select-color;
        width: 100%;
        height: $select-height;
        outline: none;
    
    }
    
    .select-styled {
        
        position: absolute; 
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $select-background;
        padding: rem( 8px ) rem( 15px ) 0;
        font-weight: bold;
        @include transition( all 0.2s ease-in );
        outline: none;
        
        &:after {
            
            position: absolute;
            content:"";
            width: 0;
            height: 0;
            border: rem( 7px ) solid transparent;
            border-color: $select-color transparent transparent transparent;
            top: rem( 16px );
            right: rem( 10px );
    
        }
        
        &:hover {
            
            background-color: darken($select-background, 2);
            
        }
        
        &:active, &.active {
            
            background-color: darken($select-background, 5);
        
            &:after {
                
              top: rem( 9px );
              border-color: transparent transparent $select-color transparent;
            }
            
        }
        
    }
    
    .select-styled.error {
        
        border: rem( 1px ) solid #f00;        
    }
        
    .select-options {
        
        display: none; 
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: darken($select-background, 5);
        z-index: 999;
        
        height: rem( 270px );
        overflow-y: scroll;
        
        li {
            
            margin: 0;
            padding: rem( 12px ) 0;
            text-indent: rem( 15px );
            border-top: rem( 1px ) solid darken($select-background, 10);
            @include transition( all 0.15s ease-in );
            
            &:hover {
                
              color: $select-background;
              background: $select-color;
              
            }
            
            &[rel="hide"] {
                
              display: none;
              
            }
            
        }
        
    }
    
}

button {
    
    font-family: $defaultFont;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    font-weight: normal;
    outline: none;
    
}

a, a:link {
    
    text-decoration: none;
    
}

a:hover {
    
    text-decoration: underline;
    
}

.hide {
    
    display: none;
    
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/******** LB PLUS ********/

// WRAPPER
.sherlock_wrapper {

    position: relative;
    width: rem( 940px );
    height: rem( 529px );
    margin: 0 auto;
    
    .sherlock_container {
        
        margin: rem( $gutter ) 0;
        
    }
    
    // CONTENT
    .sherlock_view {

        position: relative;
        height: rem( 469px );
        padding: rem( 25px ) rem( 25px ) 0 rem( 25px );
        overflow-x: hidden;
        overflow-y: auto;
        border: rem( 1px ) solid $darkerFontColor;
        border-bottom: none;
        @include box-sizing( "border-box" );

        h1:nth-of-type(1) {

            margin-top: 0;

        }

        // INTERACTION (MEDIA & ACTIONS)
        .sherlock_interaction_wrapper {

            margin-bottom: 0;

            * {

            	@include user-select(none);

        	}

            .sherlock_media {

                position: relative;
                width: rem( 640px );
                height: rem( 360px );
                background: #000;
                float: left;

                .overlay {

                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 10;

                    #videoPlayBtn {

                        position: absolute;
                        width: rem( 150px );
                        height: rem( 80px );
                        color: #fff;
                        text-align: center;
                        font-size: 200%;
                        font-weight: bold;
                        line-height: normal;
                        background: #2e832e;
                        padding: rem( 21px ) rem( $gutter ) 0;
                        top: rem( 140px );
                        left: rem( 245px );
                        cursor: pointer;
                        @include box-sizing( 'border-box' );
                        @include border-radius( rem( 3px ) );
                        @include box-shadow( 0 0 rem( 6px ) $darkerFontColor);

                    }
                    
                    #videoPlayBtn.paused {

                        
                        padding-top: rem( 14px );
                        line-height: .4;
                        background: #c7284d;
                        cursor: default;
                        
                        small {
                            
                            font-size: 60%;
                            
                        }

                    }
                    
                    .reasoningBox {
                        
                        position: absolute;
                        width: 100%;
                        height: rem( 360px );
                        line-height: rem( 360px );
                        z-index: 11;
                        background: rgba(255, 255, 255, 0.9);
                        
                        .reasoning {
                            
                            display: inline-block;
                            padding: 0 rem( 14px );
                            vertical-align: middle;
                            line-height: rem( 20px ); 
                            
                        }
                        
                        .action {
                            
                            display: block;
                            position: absolute;
                            width: 100%;
                            bottom: rem( 14px );
                            left: 0;
                            text-align: center;
                            line-height: normal; 
                            
                        }
                        
                    }

                }

                iframe {

                    width: 100%;
                    height: 100%;

                }

            }

            .sherlock_actions {

                width: rem( 225px );
                margin: 0 0 0 rem( 23px );
                float: left;

                h4 {

                    text-align: center;
                    line-height: rem( 20px );
                    border-bottom: 1px dashed $defaultFontColor;
                    padding-bottom: $gutter - 6;
                    margin-top: 0;
                    margin-bottom: 0;

                }

                .btn {

                    @include button();
                    position: relative;

                    .limits {

                        @include button_limits();

                    }
                    
                    .limits.hide {
                        
                        display: none
                        
                    }

                    .icon {

                        @include button_icon();

                    }

                    .action_name {

                        @include button_name();

                    }

                    .action_name.long {

                        font-size: 85%;
                        padding-top: rem( 9px );
                        line-height: rem( 16px );

                    }

                    .cooldown {

                        @include button_cooldown();

                    }

                }

                .btn:active {

                    @include button_active();

                }

                .btn.disabled {

                    @include button_disabled();

                }

                .btn:nth-of-type(1) {

                    margin-top: rem( $gutter - 6 );

                }

                .btn:last-child {

                    margin-bottom: 0;

                }

                // clear fix
                .btn:after {

                    @include clearfix();

                }
                
                .reviewVideoControls {
                    
                    float: left;
                    clear: both;
                    margin: 0 0 rem( $gutter );
                    
                    .btn.videoControls {
                    
                        width: rem( 64px );
                        height: rem( 30px );
                        margin: 0 rem( $gutter ) 0 0;
                        float: left;
                        
                        .action_name {
    
                            width: 100%;
                            height: rem( 30px );
                            padding: rem( 6px ) 0 0;
                            line-height: normal;
                            text-align: center;
                            @include box-sizing(border-box);
    
                        }
                        
                    }
                    
                    .btn.videoControls:last-child {
                        
                        margin-right: 0;
                        
                    }
                    
                }
                
                .reviewContent {
                    
                    p {
                        
                        margin: rem( 14px ) 0;
                        font-size: rem( 14px );
                        line-height: rem( 18px );
                        @include user-select(text);
                        
                    }
                    
                }
                
                .btn.videoControls.playSegment {
                    
                    width: 100%;
                    height: rem( 30px );
                    margin: 0 rem( $gutter ) 0 0;
                    
                    .action_name {

                        width: 100%;
                        height: rem( 30px );
                        padding: rem( 4px ) 0 0;
                        line-height: normal;
                        text-align: center;
                        @include box-sizing(border-box);

                    }
                    
                }

            }

        } // end interaction wrapper

        // clear fix
        .sherlock_interaction_wrapper:after {

            @include clearfix();

        }

        // score wrapper
        .score_view {
        
            width: 100%;
            
            .overview {
                
                width: 100%;
                float: left;
                clear: both;
                
                .percentage {

                    width: 20%;
                    padding: 0 rem( 10px );
                    text-align: center;
                    @include box-sizing( 'border-box' );
                    float: left;
    
                    .percent {
    
                        display: block;
                        font-size: rem( 46px );
                        line-height: rem( 46px );
                        font-weight: bold;
    
                    }
    
                    .status {
    
                        display: block;
                        font-size: rem( 22px );
                        line-height: rem( 22px );
                        margin-top: rem( $gutter / 2 );
                        font-style: italic;
    
                    }
    
                }
                
                .actions_stars {

                    width: 80%;
                    padding: 0 0 0 rem( 10px );
                    @include box-sizing( 'border-box' );
                    float: left;
                    
                    .star_earned {
                        
                        width: 20%;
                        padding: 0 0 0 rem( 5px );
                        @include box-sizing( 'border-box' );
                        float: left;
                        
                        p {
                            
                            margin-top: 0;
                            margin-bottom: rem( $gutter / 2 );
                            font-size: rem( 16px );
                            font-weight: 500;
                            text-align: center;
                            
                        }
                        
                        .stars {
                            
                            font-size: 160%;
                            font-weight: normal;
                            
                            small {
                                
                                font-size: 60%;
                                
                            }
                            
                        }
                        
                    }
    
                }
                
            }
            
            .analysis {
                    
                margin-top: rem( $gutter );
                    
                table {
                    
                    width: 100%;
                    
                    th {
                        
                        white-space: nowrap;
                        font-weight: bold;
                        text-align: center;
                        padding: rem( 5px );
                        
                        small {
                            
                            font-family: 60%;
                            font-weight: normal;
                            
                        }
                        
                    }
                    
                    td {
                        
                        @extend th;
                        
                        font-weight: normal;
                        line-height: normal;
                        
                    }
                    
                    tbody {
                        
                        tr {
                        
                            td:first-child {
                                
                                text-align: right;
                                
                            }
                            
                        }
                        
                        tr:nth-child(odd) {
                            
                            background-color: #e8e8e8;
                            
                        }
                        
                        tr:last-child {
                            
                            background-color: transparent;
                            
                        }
                        
                        .topBorder {
                            
                            border-top: rem( 2px ) solid #2f2f2f;
                            
                        }
                        
                    }
                    
                }
                
                .leftBorder {
                            
                    border-left: rem( 2px ) solid #2f2f2f;
                    
                }
                
                .totalScore {
                    text-align: right;
                    font-size: 150%;
                    
                }
                
            }

        } // end score_view
        
        .selection_view {
            
            padding-top: rem( 30px );
            
            .exercise_info {
                
                margin: 0 0 rem( $gutter );
                padding: rem( $gutter );
                
                .description_box {
                    
                    p:first-child {
                        
                        margin-top: 0;
                        font-size: rem( 14px );
                        line-height: normal;
                        
                    }
                    
                    .description {
                    
                        
                        
                    }
                    
                }
                
                .meta {
                    
                    margin-bottom: 0;
                    
                }
                
            }
            
        }
        
        .signin_view {
            
            width: 50%;
            margin: 0 auto;
            text-align: center;
            padding: rem( 16px );
            
            .btn {
            
                display: inline-block;
                margin: 0;
                font-size: rem( 14px );
                font-weight: bold;
                color: #6f6f6f;
                text-decoration: none;
                padding: rem( 10px );
                border: rem( 1px ) solid #6f6f6f;
                @include border-radius( rem( 3px ) );
                
            }
            
            .btn:hover {
                
                color: #2f2f2f;
                border-color: #2f2f2f;
                
            }
            
            .signin {
                
                display: block;
                width: 50%;
                margin: rem( $gutter ) auto;
                font-size: rem( 18px );
                padding: rem( 15px ) rem( 10px );
                color: #fff;
                background-color: #2888c7;
                border-color: #0f75b9;
                
            }
            
            .signin:hover {
                
                color: #fff;
                background-color: #0f75b9;
                border-color: #0f75b9;
                
            }
            
            .profile_img {
                
                width: rem( 150px );
                height: rem( 150px );
                margin: rem( $gutter ) auto;
                overflow: hidden;
                border: rem( 3px ) solid #0f75b9;
                @include border-radius( 50% );
                
                img {
                    
                    width: rem( 150px );
                    height: rem( 150px );
                    
                }
                
            }
            
            .bigicon {
                
                font-size: 800%;
                
            }
            
            #google_revoke_connection {
                
                color: #c1c1c1;
                outline: none;
                
            }
            
            #google_revoke_connection:hover {
                
                color: #f00;
                
            }
            
            #disconnect-confirm {
                
                display: none;
                
            }
            
        }
        
        .callout {
            
            font-size: 80%;
            line-height: rem( $gutter * 1.1 );
            margin: rem( $gutter ) 0;
            border-left: rem( 3px ) solid #ccc;
            padding: rem( 10px );
            @include box-shadow( 0 0 rem( 4px ) #ccc );
            
        }
        
        .danger {
            
            color: #ff005a;
            border-left-color: #ff005a;
            
        }
        
        .info {
            
            border-left-color: #00aeff;
            
        }
        
        .success {
            
            border-left-color: #00ff74;
            
        }
        
        .admin_bar {
            
            position: absolute;
            width: 100%;
            height: rem( 39px );
            top: 0;
            left: 0;
            background-color: #f9f9f9;
            border-bottom: rem( 1px ) solid #ccc;
            
            h1 {
                
                width: 50%;
                font-size: 110%;
                line-height: normal;
                font-weight: bold;
                margin: 0;
                padding: rem( 9px ) rem( 10px ) 0;
                float: left;
                @include box-sizing( border-box );
                
            }
            
            ul {
                
                width: 50%;
                height: 100%;
                padding: 0;
                margin: 0;
                list-style: none;
                text-align: right;
                float: left;
                
                li {
                    
                    display: block;
                    margin: 0;
                    padding: 0;
                    float: right;
                    
                    .profile {
                        
                        float: left;
                        clear: both;
                        color: #fff;
                        background-color: #9a9a9a;
                        
                        img {
                            
                            display: block;
                            float: left;
                            
                        }
                        
                        .name {
                            
                            display: block;
                            padding: rem( 10px ) rem( 10px ) 0;
                            float: left;
                            
                        }
                        
                    }
                    
                    a {
                        
                        display: block;
                        width: 100%;
                        height: rem( 40px );
                        text-decoration: none;
                        padding: rem( 10px ) rem( 10px );
                        border-left: rem( 1px ) solid #ccc;
                        @include box-sizing( border-box );
                        
                    }
                    
                    a.dashboard {
                        
                        color: #fff;
                        background-color: #5d5dff;
                        
                    }
                    
                    a.signin {
                        
                        color: #fff;
                        background-color: #2fc600;
                        
                    }
                    
                    a.signout {
                        
                        color: #fff;
                        background-color: #d50000;
                        
                    }
                    
                }
                
            }
            
        }

    } // end content
    
    .lti_sherlock_view {
        
        @extend .sherlock_view;
        
        height: rem( 384px );
        
        .selection_view {
            
            padding: 0;
            
        }
        
    }

    // CONTROLS
    .sherlock_controls {
        
        height: rem( 60px );
        background: $darkerFontColor;
        @include box-sizing( "border-box" );

        * {

        	@include user-select(none);

    	}
        
        .progress_bar_holder {

            position: relative;
            background: #000000;
            padding: rem( 25px ) rem( 25px ) 0;
            height: rem( 60px );
            float: left;

            @include box-sizing( "border-box" );

            .tag {

                position: absolute;
                width: rem( 29px );
                height: rem( 22px );
                top: rem( -15px );
                left: 0;
                font-size: rem( 14px );
                text-align: center;
                line-height: rem( 14px );
                color: #fff;
                background-color: #2e832e;
                padding: rem( 8px ) 0 0 rem( 1px );
                cursor: default;
                @include box-shadow( 0 0 rem( 4px ) $defaultFontColor );
                @include border-radius( 50% );

            }

            .tag:hover {

                @include box-shadow( 0 0 rem( 6px ) #000 );

            }

            .tag:after {

                position: absolute;
                display: block;
                width: 0;
            	height: 0;
            	content: "";
            	bottom: rem( -10px );
            	left: rem( 7px );
            	border-left: 8px solid transparent;
            	border-right: 8px solid transparent;
            	border-top: 16px solid #2e832e;

            }
            
            .hint_tag {
                
                position: absolute;
                width: rem( 20px );
                height: rem( 15px );
                bottom: rem( 3px );
                left: 0;
                font-size: rem( 10px );
                text-align: center;
                line-height: rem( 10px );
                color: #fff;
                background-color: #e02349;
                padding: rem( 5px ) 0 0;
                cursor: default;
                @include opacity(.5);
                @include box-shadow( 0 0 rem( 4px ) $defaultFontColor );
                @include border-radius( 50% );
                
            }
            
            .hint_tag:hover {
            
                @include opacity( 1 );
                @include box-shadow( 0 0 rem( 6px ) #000 );

            }
            
            .hint_tag:after {
                
                position: absolute;
                display: block;
                width: 0;
            	height: 0;
            	content: "";
            	top: rem( -6px );
            	left: rem( 6px );
            	border-left: 4px solid transparent;
            	border-right: 4px solid transparent;
            	border-bottom: 8px solid #e02349;
                
            }

            .progress_bar {
                
                position: relative;
                width: rem( 640px );
                height: rem( 10px );
                background: #686868;
                
                .tag_hints_holder {
            
                    display: block;
                    position: absolute;
                    width: rem( 640px );
                    height: rem( 10px );
                    
                    .hint {
                        
                        position: absolute;
                        width: rem( 3px );
                        height: rem( 10px );
                        top: 0;
                        left: 9px;
                        background-color: #1e561e;
                        @include opacity( .75 );
                        
                    }
                    
                }
                
                .scrubber {
                    
                    position: absolute;
                    width: rem( 1px );
                    height: rem( 10px );
                    background-color: #3cdfd7;
                    z-index: 0;
                    
                }
                
                .progressed {

                    display: block;
                    width: 0;
                    height: rem( 10px );
                    background: #ffffff;
                    @include box-sizing( border-box );

                }

                .time {

                    width: 100%;
                    font-size: 70%;
                    color: #fff;
                    float: left;
                    clear: both;

                    .elapsed {

                        display: block;
                        width: 50%;
                        float: left;

                    }

                    .duration {

                        @extend .elapsed;
                        text-align: right;

                    }

                }

                .time:after {

                    @include clearfix();

                }

            }

        }  // end progress_bar_holder

        .main_controls {

            width: rem( 250px );
            height: rem( 60px );
            color: #fff;
            float: left;

            // rewind button
             .btn.rewind {

                @include button();
                width: 100%;
                margin-top: rem( -10px );

                .limits {

                    @include button_limits();
                    top: rem( -5px );
                    right: rem( 5px );

                }
                
                .limits.hide {
                    
                    display: none;
                    
                }

                .icon {

                    @include button_icon();
                    width: 25%;
                    height: rem( 65px );
                    font-size: 130%;
                    padding-top: rem( 20px );

                }

                .action_name {

                    @include button_name();
                    width: 75%;
                    height: rem( 65px );
                    font-size: 130%;
                    padding: rem( 24px ) rem( $gutter );

                }

                .cooldown {

                    @include button_cooldown();
                    width: 100%;

                }

            }

            .btn.rewind:active {

                @include button_active();

            }

            .btn.rewind.disabled {

                @include button_disabled();

                .icon {

                    @include opacity( 1 );

                }

                .action_name {

                    @include opacity( 1 );

                }

            }

            // rewind button clear fix
            .btn.rewind:after {

                @include clearfix();

            }
            
            .btn.backToScore {

                @include button();
                width: 100%;
                height: rem( 60px );
                margin: 0;
                
                .action_name {

                    @include button_name();
                    width: 100%;
                    height: rem( 60px );
                    text-align: center;
                    font-size: 130%;
                    color: #fff;
                    text-decoration: none;
                    line-height: normal;
                    padding: rem( 18px ) rem( $gutter ) 0 ;
                    float: none;

                }

            }

        } // end main controls for lb view

        // score view main controls
        .main_controls.score_view {

            width: 100%;
            height: rem( 60px );
            color: #fff;

            // left container
            .left {

                width: 33.3333%;
                float: left;

            }

            // center container
            .center {

                @extend .left;

            }

            // right container
            .right {

                @extend .left;
                text-align: right;

            }

            // general button
            .btn {

                @include button();
                width: 50%;
                height: rem( 60px );

            }

            .btn.full {

                width: 100%;

            }

            // retake button
            .btn.retake {

                float: left;
                margin: 0;
                @include opacity( .5 );
                @include smooth_fade();

                .action_name {

                    @include button_name();
                    width: 100%;
                    color: #b5b5b5;
                    font-weight: 100;
                    font-size: rem( 32px );
                    line-height: rem( 32px );
                    text-align: center;
                    height: rem( 60px );
                    padding-top: rem( 10px );
                    background: none;
                    border-top: rem( 5px ) solid #c77028;

                }

            }

            .btn.retake:hover {

                @include opacity( 1 );
                @include smooth_fade();

                .action_name {

                    color: #fff;

                }

            }

            .btn.retake:active {

                @include button_active();

            }

            // new button
            .btn.new {

                @extend .btn.retake;

                .action_name {

                    border-top-color: #5cc627;

                }

            }

            // previous button
            .btn.previous {

                @extend .btn.retake;

                .action_name {

                    border-top-color: #2888c7;

                }

            }

            // next button
            .btn.next {

                @extend .btn.retake;
                float: right;

                .action_name {

                    border-top-color: #c328c7;

                }

            }
            
            // next button
            .btn.close {

                @extend .btn.retake;
                float: right;

                .action_name {

                    border-top-color: #c72848;

                }

            }

        } // end score view main controls

    } // end controls

    .sherlock_controls:after {

        @include clearfix();

    }

    // STATUS MESSAGE
    .sherlock_status_msg {

        position: absolute;
        width: 50%;
        font-size: 80%;
        text-align: right;
        top: 0;
        right: rem( 25px );
        cursor: default;
        @include user-select(none);

    }
    
    .sherlock_mode_msg {
        
        position: absolute;
        padding: rem( 5px );
        width: 100%;
        font-size: 60%;
        text-align: center;
        top: 0;
        left: 0;
        background-color: #ccc;
        font-weight: bold;
        text-transform: uppercase;
        line-height: normal;
        cursor: default;
        @include box-sizing( 'border-box' );
        @include user-select(none);
        
    }
    
    .sherlock_mode_msg.training {
            
        background-color: #f1ffbc;
        
    }
    
    .sherlock_mode_msg.review {
            
        background-color: #bcd1ff;
        
    }

    // TRANSITION OVERLAY
    .transition_overlay {

        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: rem( 140px ) rem( $gutter ) 0;
        @include opacity( .90 );
        @include box-sizing( 'border-box' );
        z-index: 99;

        .heading {

            font-size: 400%;
            text-transform: uppercase;
            text-align: center;
            font-weight: 100;
            line-height: normal;

        }

        .subheading {

            text-align: center;
            font-size: 120%;
            font-weight: 200;
            line-height: normal;
            
            a, a:visited {
                
                color: #f00;
                
            }

        }

        .loading {

            @extend .heading;
            margin-top: rem( $gutter );

        }

    }

} // end sherlock_wrapper

/* ANIMATIONS */
.blink {

    @include animation-properties( (animation-name: blink) );
    @include animation-properties( (animation-duration: 3s) );
    @include animation-properties( (animation-timing-function: ease-in-out) );
    @include animation-properties( (animation-iteration-count: infinite) );

}

.blink-faster {

    z-index: 99;
    @include animation-properties( (animation-name: blink-faster) );
    @include animation-properties( (animation-duration: 1s) );
    @include animation-properties( (animation-timing-function: ease-in-out) );
    @include animation-properties( (animation-iteration-count: infinite) );

}

.spin {

    display: inline-block;
    width: rem( 64px );
    height: rem( 64px );
    @include animation-properties( (animation-name: spin) );
    @include animation-properties( (animation-duration: 2s) );
    @include animation-properties( (animation-timing-function: linear) );
    @include animation-properties( (animation-iteration-count: infinite) );
    @include transform-origin(center, center);

}

@include keyframes( blink ) {

    0% {

        @include opacity( 1 );

    }

    50% {

        @include opacity( .5 );

    }

    100% {

        @include opacity( 1 );

    }

}

@include keyframes( blink-faster ) {

    0% {

        @include opacity( 1 );

    }

    50% {

        @include opacity( .5 );

    }

    100% {

        @include opacity( 1 );

    }

}

@include keyframes( spin ) {

    from {

        @include rotate( 0deg );

    }

    to {

        @include rotate( 360deg );

    }

}
//jquery-ui
.ui-dialog {
    
    font-family: $defaultFont;
    background-color: #f9f9f9;
    border: rem( 1px ) solid $darkerFontColor;
    
    .ui-dialog-title {
        
        font-weight: bold;
        font-size: rem( 18px );
        margin: 0;
        
    }
    
    .ui-dialog-content {
        
        p:first-child {
            
            margin-top: 0;
            
        }
        
        p:last-child {
            
            margin-bottom: 0;
            
        }
        
    }
    
    .ui-dialog-buttonpane {
        
        margin: 0;
        
        .ui-button {
            
            font-size: rem( 14px );
            font-weight: bold;
            color: #6f6f6f;
            text-decoration: none;
            border: rem( 1px ) solid #6f6f6f;
            line-height: 0;
            background-color: transparent;
            @include border-radius( rem( 3px ) );
            @include user-select(none);
            outline: none;
            
        }
        
        .ui-button:hover {
            
            color: #2f2f2f;
            border-color: #2f2f2f;
            
        }
        
    }
    
}

.ui-dialog.no-close {
        
    .ui-dialog-titlebar-close {
      
      display: none;
      
    }
    
    .ui-dialog-title {
        
        width: 100%;
        
    }
      
}

.ui-widget-overlay {
    
    background: rgba( 255, 255, 255, .85);

}