# ignore codekit config file
config.codekit
**/config.codekit

# ignore bower components
bower_components/
**/bower_components

# ignore SASS cache hidden directory
.sass-cache
**/.sass-cache

#ingore test file
build/test.html

#ignore config php file
**/include/config.php
config.php