# ignore codekit config file
config.codekit
**/config.codekit

# ignore bower components
bower_components/
**/bower_components

# ignore SASS cache hidden directory
.sass-cache
**/.sass-cache

#ignore config php file
**/includes/config.php

#ignore LTI XML file
**/includes/lti_config.xml

#ignore student json file
**/includes/data/student/

#ignore exercise json file
**/includes/data/exercise/
.DS_Store
