@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?-ym5gkb');
	src:url('icomoon.eot?#iefix-ym5gkb') format('embedded-opentype'),
		url('icomoon.ttf?-ym5gkb') format('truetype'),
		url('icomoon.woff?-ym5gkb') format('woff'),
		url('icomoon.svg?-ym5gkb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-retake:before {
	content: "\eaa8";
}
.icon-new:before {
	content: "\ece3";
}
.icon-paused:before {
	content: "\ed83";
}
.icon-next:before {
	content: "\edbb";
}
.icon-previous:before {
	content: "\edc3";
}
.icon-rewind:before {
	content: "\eaa6";
}
.icon-spinner:before {
	content: "\eb20";
}
.icon-star-empty:before {
	content: "\ece0";
}
.icon-star-half:before {
	content: "\ece1";
}
.icon-star-full:before {
	content: "\ece2";
}
.icon-user:before {
	content: "\eaf4";
}
.icon-user-cancel:before {
	content: "\eaf8";
}
.icon-trash:before {
	content: "\ebfa";
}
.icon-start:before {
	content: "\ec48";
}
.icon-selection:before {
	content: "\ec69";
}
.icon-signin:before {
	content: "\ed77";
}
.icon-signout:before {
	content: "\ed78";
}
.icon-dashboard:before {
	content: "\ee80";
}
